{
	http_port 3000
}

http://127.0.0.1:3000 {
	mercure {
		publisher_jwt {env.MERCURE_JWT_SECRET}
		subscriber_jwt {env.MERCURE_JWT_SECRET}
		anonymous
		cors_origins http://127.0.0.1:8000 http://localhost:8000
	}

	respond /healthz 200
}
